# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Kotlin
.kotlin

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Environment files
.env
.env.*
application-local.properties

# Logs
*.log
*.err.log

# OS files
.DS_Store
Thumbs.db

# Build output
out/